body {
  background-image: url("images/Japanese_paper_background.jpg");
}
h1, h2 {
  font-size: 45px;
  color: black;
  width: 90%;
  padding-top: 14 px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Arial";
  text-transform: uppercase;
}

.book {
  width: 39%;
  margin-left: 1%;
  display: block;
  float: left;

}

.kirkus {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;

}

.review {
  background-color: #AEEEEE;
  padding: 8%;
  position: relative;
}

.review p {
  font-size: 26px;
}

.recliner{
  position: absolute;
  width: 35%;
  right: -6%;
  bottom: -13%;
  z-index: 100;
}

.subhead {
  font-size: 60px;
  color: navy;
  font-family: "sans-serif";
  text-transform: inherit;
  text-align: center;
}


h4 {
  font-size: 40px;
  color: black;
  margin: 5%;

}

.synopsis {
  background-color: cornsilk;
}

.synopsis p {
  font-size: 28px;
  margin-left: 5%;
  margin-right: 5%;
}
