body {
  background-image: url("images/Japanese_paper_background.jpg");
}

/* this fixes a common browser issue with floated elements */
body::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

h1, h2 {
  font-size:60px;
  color: black;
  width: 90%;
  padding-top: 14 px;
  margin-right: auto;
  margin-left: auto;
  font-family: "arial";
  text-transform: uppercase;
}

.book {
  width: 39%;
  margin-left: 1%;
  display: block;
  float: left;
}

.kirkus {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  font-family: arial;
}

.review {
  background-color: azure;
  padding: 6%;
  position: relative;
  font-size: 45px;
}

.review p {
  font-size: 38px;
  font-family: arial;
}

.recliner{
  position: absolute;
  width: 35%;
  right: -6%;
  bottom: -13%;
  z-index: 100;
}

.subhead {
  font-size: 90px;
  color: navy;
  font-family: "sans-serif";
  text-transform: inherit;
  text-align: center;
}


h4 {
  font-size: 42px;
  color: black;
  margin left: 5%;
  float: left;
}

.synopsis {
  background-color: lightyellow;
  /*width: 70%;*/
  padding-bottom: 2%;
  position: relative;
  font-family: arial;

  /* I added these lines to get this div to flow correctly */
  width: 48%; /* updated width for the new layout */
  margin-left: 6%;
  margin-top: 2%;
  float: left;
  clear: left;
}

.synopsis p {
  font-size: 33px;
  margin-left: 7%;
  margin-right: 6%;
}


h5 {
  font-size: 40px;
  width: 95%;
  color: navy;
  text-align: center;

}

.reviews {
  background-color: rgb(212,245,233);
  font-size: 28px;
  width: 30%;
  font-family: arial;
  margin-left: 7%;
  padding: 3%;

  /* I added these lines to get this div to flow correctly */
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

.signoff {
  font-size: 50px;
  width: 50%;

  /* I added these lines to get this div to flow correctly */
  /* these match the styles I added for .reviews */
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

.signoff h5 {
  text-align: center;
  margin-bottom: 0;
}

.signoff p {
  font-size: 32px;
  text-align: center;
}
