body {
  background-image: url("images/Japanese_paper_background.jpg");
}
h1, h2 {
  font-size: 40px;
  color: black;
  width: 90%;
  padding-top: 14 px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Arial";
  text-transform: uppercase;
}

img,
p {
  width: 40%;
  max-width: 500px;
  min-width: 300px;
  margin-left: 20px;
}


.subhead {
  font-size: 50px;
  color: navy;
  font-family: "sans-serif";
  text-transform: inherit;
}


h3 {
  font-siz
  color: black
  font-size: 40px;
}


img,
p {
  width: 15%;
  max-width: 500px;
  min-width: 300px;
  margin-left: 20px;
}


h2 {
  color: black;
  font-size: 15px;
}
